.whole-left-project {
  padding: 40px;
}

.great-project-para {
  max-width: 750px;
  text-align: justify;
  padding-top: 40px;
}

.project-rec {
  width: 80vw;

  height: 10vh;
  background: #ed5c05;
  margin-top: 140px;
  margin-left: -72px;
}
@media (max-width: 768px) {
  .project-rec {
    height: 15vh; /* Taller on tablet screens */
    margin-left: 0;
    /* Further adjusting margin */
  }

  .project-img-left img {
    margin-top: 200px;
  }

  .project-img img {
    max-width: 600px;
  }
}
.project-img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  max-width: 496px;
}

.project-img img {
  position: absolute;
  object-fit: contain;
  overflow: hidden;
  width: 46%;
}

.project-img-right {
  margin-top: 220px;
}

.project-big-rec {
  width: 100%;
}

.sucess-meet .row {
  padding: 10px;
}

.sucess-meet .card {
  border: 0px;
  box-shadow: unset !important;
}

.sucess-meet .row .col-md-6 {
  padding: 20px;
}

.gallery-title {
  padding-bottom: 40px;
}

@media (max-width: 576px) {
  .sucess-meet .row .col-md-6 {
    padding: 0;
    padding-top: 20px;
  }

  .testimonial-container img {
    padding-left: 0;
  }
}

/* new styles  */

/*gallery*/

.gallery {
  filter: none !important;
}

#gallery {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;

  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
}

@media (max-width: 1200px) {
  #gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;

    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
}

@media (max-width: 800px) {
  #gallery {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
  }
}

@media (max-width: 600px) {
  #gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }

  .img-main-service::after {
    border: 10px solid white !important;
  }

  .services-contain-row .services-contain {
    width: 95% !important;
  }
}

#gallery img,
#gallery video {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}