* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common css */

.container-fluid {
  max-width: 1400px;
}

@media (max-width: 576px) {
  .container-fluid {
    max-width: 95%;
  }
}

.container-fluid-max {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.div-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  color: #fff;
}
.light-grey {
  color: #8d8d8d;
}

/* common button */

.common-btn-filled {
  display: block;
}

.common-btn-filled a {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 46px;
  width: max-content;
  background: linear-gradient(90deg, #272d63 0%, #4f5bc9 100%);
}

.common-btn-filled a svg {
  margin-right: -10px;
}

/* common title */

.heading-title {
  display: flex;
  flex-direction: row;
}

.heading-title-icon {
  margin-right: 20px;
}

.heading-title-icon img {
  height: 60px;
  width: 60px;
}

.heading-title-sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3px 0px;
}

.heading-title-line {
  content: "";
  display: block;
  height: 3px;
  max-width: 120px;
  min-width: 100px;
  background: #272d63;
  margin-left: 20px;
}

.heading-title-main-content {
  font-weight: 700;
}

/* nav bar  */

.nav-container {
  width: 100%;
  background-color: white;
}

.navigation {
  height: 70px;
}

.navigation .nav-logo {
  height: 50px;
  width: 50px;
}

.navigation .nav-control a {
  color: black; /* Change the color of the text */
  text-decoration: none;
  padding: 23px 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation .nav-control a .nav-hover-line {
  width: 0;
  position: absolute;
  background-color: #ed5c05;
  height: 5px;
  bottom: 0;
  opacity: 0;
  transition: 0.2s ease-in;
}

.hidenav a {
  font-weight: 500;
}

.hidenav.active a {
  color: #ed5c05;
}

.navigation .nav-control a:hover > .nav-hover-line {
  bottom: 0;
  opacity: 1;
  width: 100%;
}

.navigation .nav-control li {
  text-decoration: none;
  list-style: none;
}

.dev-left {
  height: 100vh;
  background-color: #cbcdda;
  margin: 0;
  z-index: 1;
  max-height: 800px;
}

.home-img {
  position: relative;
}

.home-img img {
  width: 100%;
  height: 100vh;
  position: relative;
  max-height: 800px;
}

.info {
  min-width: 400px;
  width: 32vw;
  max-width: 600px;

  height: 55vh;
  max-height: 500px;
  border: 30px solid rgba(255, 255, 255, 0.69);
  background: transparent;
  margin-top: 110px;
  margin-left: 120px;
  padding: 14px 10px;
  display: flex;
  position: relative;
}

.landing-page-top-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 36px;
  height: 30px;
  gap: 30px;
  flex-wrap: wrap;
}

.line-text {
  color: #272d63;
  font-weight: 700;
}

.info h3 {
  margin-top: 130px;
  margin-right: 60px;
  color: #fff;
  position: absolute;
  font-weight: 700;
}

.exp {
  padding-top: 30px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.experience2 h2 {
  padding: 10px;
  border: 7px solid #272d63;
}

.duo {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-basis: min-content;
}

.count {
  color: #ed5c05;
  font-size: 36px;
  font-weight: 600;
}

.year {
  padding-left: 10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.experience-sub-heading {
  font-weight: 500;
  padding-bottom: 4px;
}

.experience-heading {
  font-weight: 700;
}

.screen img {
  position: absolute;
  margin-top: -120px;
  width: 28%;
}

.str-line {
  width: 100%;
  height: 2px;
  background: #272d63;
}

.benefits-icon img {
  width: 50px;
  height: 50px;
}

.benefits-container {
  margin-top: 20px;
}

.benefits-content {
  margin-left: 20px;
}

.benefits-content .benefits-content-heading {
  margin-bottom: 8px;
  font-weight: 700;
}

/* experts section  */

.left-experts {
  position: relative;
  padding-top: 40px;
}

.left-ang-img {
  display: flex;
  flex-direction: row-reverse;
  margin-right: 50px;
}

.left-ang-img img {
  width: 270px;
  position: relative;
}

.left-experts-background {
  position: relative;
}

.left-experts-background::before {
  content: "";
  display: block;
  position: absolute;
  height: 230px;
  width: 200px;
  top: 40px;
  right: 120px;
  border: 5px solid #000;
}

.para-left {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #000;
  font-weight: 500;
}

.para-left::before {
  content: "";
  height: 70px;
  width: 4px;
  background: #272d63;
  display: block;
}

.para-sec {
  color: #4e4e4e;
  text-align: justify;
}

/* services section  */
.service-title-content {
  position: relative;
}

.service-title-content svg {
  position: absolute;
  width: 50%;
  top: -50%;
  z-index: -10;
  right: 100px;
}

@media screen and (max-width: 576px) {
  .left-ang-img {
    flex-direction: row;
    margin-right: 0;
    margin-left: 50px;
  }
  .left-ang-img img {
    width: 90%;
  }
  .service-title-content svg {
    top: -10%;
  }
  .left-experts-background::before {
    left: -40px;
    right: 0;
  }
}

.service-container {
  margin-top: 16px;
  position: relative;
}

.service-container img {
  width: 100%;
  max-height: 400px;
  z-index: -1;
  object-fit: cover;
}

.image-box {
  width: 90px;
  height: 90px;
  border: 5px solid #ed5c05;
  margin-top: -134px;
  margin-left: 35%;
  position: absolute;
}

.image-white-box {
  width: 50%;
  height: 60px;
  background-color: #fff;
  position: absolute;
  margin-top: -120px;
}

.image-white-box h6 {
  font-style: normal;
  font-weight: 700;
}

.success {
  margin-left: 50px;
  margin-top: 90px;
}

.success-name::after {
  content: "";
  height: 2px;
  max-width: 120px;
  min-width: 150px;
  margin-left: -40px;
  background: #272d63;
  display: block;
}

/* testimonials section */
.feedback-section {
  min-height: 600px;
  height: min-content;
  max-height: 100vh;
  position: relative;
}

.feedback-section .feedback-background-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  object-position: center;
  z-index: -1;
}

.testimonials-main {
  max-height: min-content;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px 40px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.9);
  position: relative;
  z-index: 1;
}

.testimonials-main::before {
  width: 100%;
  height: 100%;
  background-color: #ed5c05;
  content: "";
  position: absolute;
  border-radius: 30px;
  top: 20px;
  left: 20px;
  z-index: -1;
}

.testimonials-main::after {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  content: "";
  position: absolute;
  border-radius: 30px;
  top: 0;
  left: 0;
  z-index: -1;
}

.testimonials-header h4 {
  font-weight: 700;
}
.testimonials-details h6 {
  font-weight: 600;
}
.testimonials-image {
  height: 70px;
  width: 70px;
  margin-right: 20px;
  border-radius: 100%;
  box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.25);
  border: 4px solid white;
}

.feedback-section .projects-back-rectangle {
  right: 0;
  left: auto;
  width: 40%;
}

.feedback-section-main {
  height: 600px;
}

.slider-container {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
}

.slider-dots {
  text-align: center;
  margin-top: -15%;
  float: right;
  position: absolute;
  right: 25%;
  z-index: 2;
}

.slider-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background: #bbb;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.slider-dots .dot.active {
  background: #ed5c05;
  width: 40px;
}

.testimonial-main-content {
  padding-bottom: 30px;
}

/* Sliding */
.projects-section {
  position: relative;
}

.projects-section .card {
  background-color: transparent;
  box-shadow: none !important;
}

.projects-back-rectangle {
  position: absolute;
  z-index: -1;
  content: "";
  height: 100px;
  width: 60%;
  left: 0;
  top: 40%;
  background-color: #ed5c05;
}

.slider-rec {
  margin-bottom: -80px;
  margin-left: -600px;
  width: 858px;
  height: 89px;
  background: #ed5c05;
}

.slider-image {
  position: absolute;
  display: flex;
  margin-left: -560px;
  margin-top: -50px;
}

.slider-image1 img {
  width: 90%;
}

.slider-text {
  width: 349px;
  height: 105px;
  border-bottom: 1px solid #ed5c05;
  border-left: 1px solid #ed5c05;
  background: rgba(239, 239, 239, 0.88);
  margin-top: -80px;
  margin-left: -20px;
  position: absolute;
}

.slider-text p {
  background: #ed5c05;
  margin-top: 24px;
  margin-left: 20px;
  width: 62px;
  height: 4px;
}
.slider-text h5 {
  margin-left: 20px;
  margin-top: 35px;
}

.slider-text h6 {
  margin-top: 0px;
  margin-left: 20px;
}

.slider-rec p {
  position: absolute;
  margin-top: -130px;
  margin-left: 50px;
  width: 60%;
}

/* media query below 768px */

@media screen and (max-width: 768px) {
  .landing-page .dev-left {
    height: 20vh;
  }
  .landing-page .dev-left .info {
    margin: 0;
    left: 50%;
    top: 50%;
    margin-top: 50px;
    transform: translate(-50%, -65%);
    position: absolute;
    min-width: 20vw;
    width: 400px;
    max-width: 90vw;
    min-height: 400px;
    max-height: 40vh;
  }
  .landing-page .home-img {
    height: 60vh;
  }

  .landing-page .home-img img {
    height: 60vh;
  }

  /* contact section  */
  .contact-right .connect-info img {
    left: 10px;
  }
  .contact-right {
    gap: 150px !important;
  }

  .detail-item {
    align-items: start !important;
    gap: 6px;
  }
  .detail-item p {
    text-align: start !important;
  }

  .benefits-container {
    margin-top: 30px;
  }

  .testimonials-main {
    width: 95%;
  }
  .testimonial-main-content {
    padding: 70px 0;
  }

  .slider-dots {
    margin-top: -20%;
    margin-right: 0;
    right: 10%;
  }
}

/* testimonials slider  */
.carousel-inner {
  padding: 1em;
}

.carousel-inner {
  display: flex;
  margin-inline: auto;
  padding: 1em 0;
  overflow: hidden;
}
.carousel-item {
  display: block;
  margin-right: 0;
  flex: 0 0 calc(100%);
  max-width: calc(100%);
  height: 330px;
  max-height: 330px;
  overflow: hidden;
}

@media screen and (max-width: 576px) {
  .slider-dots {
    margin-top: -20%;
    margin-right: 0;
    right: 10%;
  }
  .testimonial-main-content {
    padding: 10px 0px 30px 0px;
  }
}

@media screen and (min-width: 576px) {
  .carousel-inner {
    display: flex;
    margin-inline: auto;
    padding: 1em 0;
    overflow: hidden;
  }
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 2);
    max-width: calc(100% / 2);
    height: 330px;
    max-height: 330px;
    overflow: hidden;
  }
}
@media screen and (min-width: 768px) {
  .carousel-item {
    display: block;
    margin-right: 0;
    flex: 0 0 calc(100% / 2);
    max-width: calc(100% / 2);
  }
}
.carousel .card {
  margin: 0 0.5em;
  border: 0;
}

.carousel-control-prev,
.carousel-control-next {
  width: 3rem;
  height: 3rem;
  background-color: grey;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.testimonial-container {
  width: 100%;
  height: 330px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
}

.testimonial-container img {
  padding-left: 20px;
  height: 310px;
  width: 100%;
  object-fit: cover;
}

.testimonial-content {
  width: 80%;
  min-height: 110px;
  border-bottom: 1px solid #ed5c05;
  border-left: 1px solid #ed5c05;
  background: rgba(239, 239, 239, 0.88);
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.testimonial-content-heading {
  padding-bottom: 20px;
  position: relative;
}

.testimonial-content-heading::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #ed5c05;
  bottom: 7px;
  height: 3px;
  width: 55px;
}

.connect-img {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.connect-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50px 0 0 0;
}

.connect-form form {
  display: flex;
  flex-direction: column;
}

.connect-form form input[type="text"] {
  border: none;
  border-bottom: 1px solid #8d8d8d;
  outline: none;
  width: 100%;
}

.connect-form form textarea {
  border: none;
  border-bottom: 1px solid #8d8d8d;
  outline: none;
  width: 100%;
  color: #8d8d8d;
}

.connect-form form label {
  margin-top: 50px;
}

.form-footer {
  display: flex;
  justify-content: space-between;
}

.social-link {
  margin-left: auto;
  margin-top: auto;
}

.connect-info img {
  position: absolute;
  right: 0;
}

.ag-circle-bg {
  width: 83px;
  height: 82px;
  border-radius: 100px;
  background: #ed5c05;

  filter: blur(75px);
}

.contact-page {
  display: flex;
  justify-content: space-between;
}

.contact-detail {
  gap: 20px;
}
.ag-circle-bg svg {
  position: absolute;
  z-index: -1;
}

.contact-right {
  display: flex;
  flex-direction: column;
  gap: 240px;
}

.detail-item {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.detail-item img {
  height: 24px;
}

.contact-right p {
  text-align: right;
}

.contact-detail {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.footer-img {
  height: 200px;
}

.footer-img img {
  width: 100%;
  height: 200px;
  position: absolute;
  z-index: -1;
  object-fit: cover;
  margin: 0;
  padding: 0;
}

.footer-heading {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.footer-heading h1 {
  color: #000;
  text-shadow: 0px 4px 4px #fff;

  font-weight: 700;
  line-height: normal;
  padding-bottom: 20px;
}

.footer-heading p {
  color: #000;

  font-style: normal;
  font-weight: 600;
}

.connect-now-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 100%;
  flex-shrink: 0;
  background: #c6cae1;
  padding: 0;
  margin: 0;
}

.dot-image {
  position: absolute;
}

.dot-image img {
  height: 200px;
  width: 100%;
  object-fit: none;
}

.footer-container {
  min-height: 300px;
}

.footer-container,
.footer-container-row {
  position: relative;
}

.footer-container-row {
  padding: 40px 0px;
}

.footer-container .creations {
  height: 200px;
}

.footer-container .creations img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 300px;
  height: 200px;
  object-fit: contain;
}

.creations-list p {
  color: #000;
  font-weight: 700;
}

.creations-list ul {
  color: #000;
  margin-top: 10px;
  padding: 0;
  font-weight: 500;
  line-height: 2.5;
  list-style-type: none;
}

.creations-list p {
  position: relative;
  margin-bottom: 15px;
  display: inline;
}
.creations-list a {
  color: #000;
}
.creations-list p::after {
  content: "";
  position: absolute;
  display: block;
  height: 3.5px;
  width: 100%;
  background-color: #ed5c05;
  bottom: -10px;
}

.creation-secound {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.creation-secound .creations-list {
  max-width: 240px;
  min-width: 150px;
}

.rights {
  background: #272d63;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;

  font-weight: 400;
}

/* About page */

.first-bg-color {
  padding: 60px 0px;
  margin-top: -250px;
  background: #272d63;
  width: 100%;
  max-height: 550px;
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.our-partners {
  padding: 60px 0px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.our-partners .part img {
  height: 150px;
  width: 150px;
}

.contact-landing-img {
  padding-left: 60px;
}

.partner-img {
  display: block;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.part img {
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.part img {
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.about-bg {
  margin-top: -250px;
}

.about-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}

.about-heading h1 {
  font-weight: 700;
}

.about-sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.about-sub p {
  background: #ed5c05;
  width: 55px;
  height: 2px;
}

.about-home img {
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  height: 500px;
}

.about-home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 600px;
}

.about-home::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  right: -5%;
  background-color: #ced1f0;
  height: 100px;
  width: 100px;
  z-index: -1;
}

.first-bg-color h1 {
  color: rgba(255, 255, 255, 0.2);
}

.about-story img {
  overflow: hidden;
}

.story {
  overflow: hidden;
}

.mission-bg {
  background: linear-gradient(
    180deg,
    rgba(255, 199, 165, 0.1) 0%,
    rgba(237, 92, 5, 0.1) 100%
  );
  padding-bottom: 40px;
}

.mission {
  display: flex;
  justify-content: space-evenly;
  padding-top: 90px;
  object-fit: cover;
}

.mission1-img img {
  width: 100%;
}

.mission2-img img {
  width: 100%;
}

.meet-member {
  padding-bottom: 30px;
}

.mission1-img {
  margin-top: 60px;

  object-fit: cover;
}

.mission2-img {
  margin-top: -50px;
  object-fit: cover;
}

.mission-title h1 {
  position: absolute;
  color: rgba(237, 92, 5, 0.08);

  text-align: justify;

  font-size: 12vw;
  font-style: normal;
  font-weight: 700;
  line-height: 200%;
}

.about-main-content {
  background: linear-gradient(270deg, #ed5c05 0%, #272d63 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mission-para {
  display: flex;
  align-items: center;
}

.mission-para p {
  color: #4e4e4e;
  text-align: justify;
  font-family: Poppins;

  font-style: normal;
  font-weight: 400;
  line-height: 200%;
}

.vission-bg {
  background: linear-gradient(
    180deg,
    rgba(39, 45, 99, 0.1) 0%,
    rgba(193, 199, 255, 0.1) 100%
  );
}

.vission-title h1 {
  color: rgba(39, 45, 99, 0.08);
  padding-top: 50px;
}

.vission-img {
  object-fit: cover;
}

.process-main {
  height: 431px;
  background-color: #c6cae1;
}

.process-idea {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.process-sec {
  margin-top: 40px;
  position: relative;
}

.process-idea .process {
  width: 30%;
}

.process-sec h1 {
  position: absolute;
  color: rgba(0, 0, 0, 0.1);
  font-size: 8vw;
  font-weight: 700;
  margin-top: -60px;
  right: 10px;
}

@media (max-width: 576px){
  .process-idea .process{
    width: 100%;
  }

  .process-sec h1{
    font-size: 60px;
  }
}

.process-sec p {
  max-width: 100%;
  text-align: justify;
  padding-top: 10px;

  color: #4e4e4e;
  font-family: Poppins;

  font-weight: 400;
  line-height: 150%;
}

.process-sec h6 {
  padding-top: 20px;
  color: #000;

  font-weight: 600;
}

.process-sec img {
  width: 5%;
  background: rgba(79, 91, 201, 0.1);
}

.process-right {
  margin-top: 160px;
}

.meet-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.meet-heading h1 {
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.meet-heading p {
  max-width: 700px;
  text-align: center;

  color: #4e4e4e;

  font-family: Poppins;

  font-weight: 400;
  line-height: 200%;
}

.meet-team {
  display: flex;
  justify-content: space-evenly;
  padding-top: 40px;
  flex-wrap: wrap;
}

.meet-bg {
  margin-top: -180px;
  background: rgba(79, 91, 201, 0.28);
  width: 100%;
  height: 40%;
  position: absolute;
  z-index: -1;
  max-width: 1255px;
}

.meet-member h6 {
  color: #000;
  font-weight: 600;
  line-height: 200%;
}

.meet-member p {
  color: #000;
  font-weight: 400;
  line-height: 200%;
}

.landing-header-text {
  font-weight: 700;
}

.common-landing-opener {
  width: 90%;
}

.contact-landing-para p {
  line-height: 200%;
  text-align: justify;
  max-width: 95%;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;

  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu-btn {
  display: none;
}

.contact-hide {
  display: block;
}

.footer-rights p {
  font-size: 14px;
}

@media screen and (max-width: 576px) {
  body {
    margin: 0;
    padding: 0 0;
  }

  .right-ang {
    padding-top: 80px;
  }
  .about-mission-title {
    margin-left: 0px;
  }

  .mission-para p {
    margin-left: 10px;
    margin-top: 10px;
  }

  .mission2-img img {
    padding: 10px;
    width: 160px;
  }
  .mission1-img img {
    padding: 10px;
    width: 160px;
  }

  .first-bg-color {
    margin-top: 0;
    justify-content: center;
  }
  .common-landing-opener {
    width: 95%;
  }
  .about-home {
    height: 450px;
    padding-top: 100px;
  }
  .about-home img {
    height: 450px;
  }

  .footer-rights p {
    font-size: 12px;
  }

  .service-whole {
    flex-direction: column-reverse;
    gap: 10px;
  }

  .service-right-info {
    flex-direction: row-reverse;
    justify-content: flex-end;
    display: none !important;
  }

  .about-home::before {
    top: 7%;
  }
}
